/node_modules/
/build/
/vendor/
yarn.lock
App.test.js
/__tests__/
android/.gradle/
android/.idea/
android/app/app.iml
android/app/build/
android/app/release/
android/app/proguard-rules.pro
android/build/
android/gradle/
android/gradlew
android/gradlew.bat
android/local.properties
android/app/BUCK
android/keystores/
package-lock.json
npm-debug.log
android/app/src/main/assets/index.android.bundle
android/app/src/main/assets/index.android.bundle.meta
android/app/src/main/fonts*
android/app/src/main/res/drawable-*
android/app/src/main/res/raw*
*/.DS_Store
.DS_Store
ios/Podfile.lock
ios/trocr.xcworkspace/
ios/Trocr.xcworkspace/
ios/build/
ios/build*
ios/build/*
libs/
ios/Pods
ios/trocr-tvOS/
ios/trocrTests/
ios/trocr-tvOSTests/
ios/trocr.xworkspace/*
ios/Trocr.xworkspace/*
yarn-error.log
.babelrc
.buckconfig
.flowconfig
.gitattributes
.watchmanconfig
.gradle
